<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Filmes</title>
    <!-- Adicione o link para o Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Upload de Filmes</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <h2>Upload de Imagem</h2>
            <input type="file" class="form-control-file" name="image" accept="image/*" required>
        </div>
        <div class="form-group">
            <h2>Título</h2>
            <input type="text" class="form-control" name="titulo">
        </div>
        <div class="form-group">
            <h2>Sinopse</h2>
            <input type="text" class="form-control" name="sinopse">
        </div>
        <div class="form-group">
            <h2>Duração</h2>
            <input type="text" class="form-control" name="duracao">
        </div>
        <div class="form-group">
            <h2>Data de Lançamento</h2>
            <input type="date" class="form-control" name="data_lancamento">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    <% if (base64Image) { %>
        <div class="mt-4">
            <h2>Imagem carregada</h2>
            <img src="<%= base64Image %>" alt="Imagem em Base64">
        </div>
    <% } %>
</div>

<!-- Adicione os scripts do Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
